Cliente/Connected Services/ServidorBuscaminasServicio/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Sala">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JugadoresChatCallback" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JugadoresJuegoCallback" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JugadoresSalaCallback" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="codigoSala" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sala" nillable="true" type="tns:Sala" />
</xs:schema>